@import url('../fonts/style.css');
*{
	margin:0;
	padding:0;
}


html,body{
		width: 100% auto;
		height:	5000px;
        background-color:rgb(244,244,244);
        font-family: Roboto;
}

#message.show{
	transform:translateX(90vw);
}

#message{
	transition-duration:2.5s;
	transform:translateX(150vw);
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	margin-bottom:25px;
	width:50px;
height:50px;
border:10px solid purple;
text-align:center;
padding:10px;
bottom:50px;
right:50px;
cursor:pointer;
font-size:4em;
border-radius:360px;
opacity:100%;
transition:0.5s ease;
opacity:50%;
}
	
#message a
{
 padding: 10px;
 background-color:none);
 text-align: center;
 color: black;
 font-size:1.1em;
 opacity:50%;
 transition:0.5s ease;
}

#message a:hover{
	opacity:100%;
	transition:0.5s ease;
	
}

#message:hover{
	opacity:100%;
	transition:0.5s ease;
}


a{
    text-decoration: none;
    color:white;
}



.header{
        display: grid;
		grid-template-columns:auto auto;
		grid-template-rows:100px;
		height:100px;
		justify-content:space-between;
		background-color:#A358E6;
		box-shadow:0 5px 15px rgba(0,0,0,0.50);
}

.logo_it_papa{
		display: grid;
 
        margin-left: 15px;
        background-color:gray;
        
}

.logo{
        width:100%;  
        margin-top:5px;
}


.spisok_header{
	 width:100%;
	 background-color:orange;
	 float:right;
    
}



.label_header{
    display:inline;
    width: 181px;
    height: 56px;
    left: 970px;
    top: 34px;
    margin-right:20px;  

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 1.7em;
    line-height: 90px;
    color:white;
}